<div class="container-fluid" style="background-color: aqua;">
    <img src="../../media/foto_perfil.jpg" alt="Photo" style="width: 50%;" id="img_inicio">
</div>
<h5>Fer Torres</h5>
<p>Soy estudiante de ingeniería en tecnologías computacionales del Tec de Monterrey, campus Querétaro.</p>

